.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
}

.item {
    border: 2px solid green;
    text-align: center;
    padding: 10px;
}

.item img{
    width: 200px;
    height: auto;
}